<ion-view>
<ion-nav-title>
      <span style="margin-right:30px;">Contact Us</span>
    </ion-nav-title>
  <ion-content>
  <div style="text-align:center;" class="padding">  	
  	<img src="img\login_withlogo1.png"/><br/>
  	<h3>Tell us how we are doing! </h3>
    <div style="width:100%;text-align:left">
  	 Send us your feedback – anything that's on your mind – whether good or bad, compliments or criticisms, we want to hear it. If something is bothering you, we'll work to fix it. If you like something we're doing, we'll continue to do it. Your insights are critically important, and we want to make sure we're continually raising the bar on your experience. Please reach out to us on the below e-mail address and we will get back at the earliest. <br/><br/>
    </div>
	<a style="font-size:16px;" class="calm" ng-href="mailto:Support@aajoobajoo.com">
		<i style="font-size:xx-large" class="icon ion-email"></i><br/>
		Support@aajoobajoo.com 
	</a>
  </div>
  <div style="height:30px">
  </div>
  

  </ion-content>
</ion-view>
